@model Tuple<List<MMS_ADP631_FA1.Models.ServiceRequest>, List<MMS_ADP631_FA1.Models.Citizen>>

@{
    ViewData["Title"] = "Service Requests";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" onclick="location.href='@Url.Action("Index","Home")'">MMS Dashboard</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="location.href='@Url.Action("Index","Home")'">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Citizen">Citizen Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Staff">Staff Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/ServiceRequest">Service Requests</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Reports">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container mt-5 flex-grow-1">

        <!-- Response messages from adding a new service request -->
        @if (TempData["SuccessfulMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessfulMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-warning alert-dismissable fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <!-- Logic to create new service request -->
        <div class="d-flex align-items-center justify-content-between">
            <p class="h2">@ViewData["Title"] in the system</p>
            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#createServiceRequestModal">
                Create New
            </button>
        </div>

        @if (Model.Item1 == null)
        {
            <p class="h2">There are no @ViewData["Title"] found in the system.</p>
        }
        else
        {
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th>Request Date</th>
                        <th>Service Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in Model.Item1)
                    {
                        <tr>
                            <td>@request.RequestDate</td>
                            <td>@request.ServiceType</td>
                            <td>@request.Status</td>
                            <td>
                                <a href="#" class="btn text-white" style="background-color: #54a2bf" data-bs-toggle="modal" data-bs-target="#serviceRequestDetailsModal" onclick="loadServiceRequestDetails(@request.RequestID)">Details</a> |
                                <a href="#" class="btn text-white" style="background-color: #e3aa75" data-bs-toggle="modal" data-bs-target="#updateStatusModal" onclick="loadServiceRequestForUpdate(@Html.Raw(request.RequestID))">Update Status</a> |
                                <a href="#" class="btn text-white" style="background-color: #f5404d" data-bs-toggle="modal" data-bs-target="#deleteServiceRequestModal" onclick="loadServiceRequestForDelete(@request.RequestID)">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white mt-5 py-4">
        <div class="container text-center">
            <p>
                &copy; 2025 Municipality Management System |
                <a href="#" class="text-white">Privacy Policy</a> |
                <a href="#" class="text-white">Terms of Service</a>
            </p>
        </div>
    </footer>

    <!-- Render the ServiceRequest/Create.cshtml for modal -->
    @await Html.PartialAsync("../ServiceRequest/Create", new Tuple<MMS_ADP631_FA1.Models.ServiceRequest, List<MMS_ADP631_FA1.Models.Citizen>>(new MMS_ADP631_FA1.Models.ServiceRequest(), Model.Item2))

    <!-- Render the ServiceRequest/Details.cshtml for modal -->
    @await Html.PartialAsync("../ServiceRequest/Details", new MMS_ADP631_FA1.Models.ServiceRequest())

    <!-- Render the ServiceRequest/Edit.cshtml for modal -->
    @await Html.PartialAsync("../ServiceRequest/UpdateStatus", new MMS_ADP631_FA1.Models.ServiceRequest())

    <!-- Render the ServiceRequest/Delete.cshtml for modal -->
    @await Html.PartialAsync("../ServiceRequest/Delete", new MMS_ADP631_FA1.Models.ServiceRequest())

</body>

</html>